body {
    background-color: #156183;
    margin: 0;
    padding: 0;
}

h2,
h3 {
    color: #156183;
}

.btn-primary {
    background-color: #156183;
    border-color: #156183;
}

.btn-primary:hover {
    background-color: #0f4d64;
    border-color: #0f4d64;
}

#date_time_cancellation {
    margin-bottom: 30px;
}



/* cancellation-form.php */
#screen-cancellation-form .container {
    width: 60%;
    margin: 50px auto;
    background-color: #fff;
    border-radius: 10px;
    padding: 30px;
}

#screen-cancellation-form h2 {
    text-align: center;
    margin-bottom: 30px;
    color: #156183;
    text-transform: uppercase;
    letter-spacing: 2px;
}

#screen-cancellation-form label {
    font-weight: bold;
    color: #666;
    text-transform: uppercase;
    letter-spacing: 1px;
}

#screen-cancellation-form input[type="text"],
#screen-cancellation-form input[type="number"],
#screen-cancellation-form select,
#screen-cancellation-form textarea {
    width: calc(100% - 24px);
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
    background-color: #f9f9f9;
}

#screen-cancellation-form textarea {
    resize: none;
    height: 150px;
}

#screen-cancellation-form button {
    width: 100%;
    padding: 15px;
    background-color: #156183;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#screen-cancellation-form button:hover {
    background-color: #0f4d64;
}



/* historic.php */
#screen-historic .container {
    margin-top: 50px;
    padding: 20px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

#screen-historic h2 {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 30px;
    color: #156183;
    text-transform: uppercase;
}

#screen-historic .input-group {
    margin-bottom: 20px;
}

#screen-historic .input-group-text {
    background-color: #156183;
    border-color: #156183;
    color: #fff;
}

#screen-historic .btn-primary {
    background-color: #156183;
    border-color: #156183;
}

#screen-historic .btn-primary:hover {
    background-color: #0f4d64;
    border-color: #0f4d64;
}

#screen-historic .table {
    border-collapse: separate;
    border-spacing: 0;
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
}

#screen-historic .table th,
#screen-historic .table td {
    padding: 15px;
    vertical-align: middle;
    border-top: 1px solid #dee2e6;
    border-bottom: 1px solid #dee2e6;
}

#screen-historic .table th {
    background-color: #156183;
    color: #fff;
    font-weight: bold;
    text-align: center;
}

#screen-historic .table tbody tr:nth-of-type(odd) {
    background-color: rgba(21, 97, 131, 0.05);
}

#screen-historic .table tbody tr:hover {
    background-color: rgba(21, 97, 131, 0.1);
}



/* schedule-list.php */
#screen-schedule-list .container {
    margin-top: 50px;
    padding: 20px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

#screen-schedule-list h2 {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 30px;
    color: #156183;
    text-transform: uppercase;
}

#screen-schedule-list .input-group {
    margin-bottom: 20px;
}

#screen-schedule-list .input-group-text {
    background-color: #156183;
    border-color: #156183;
    color: #fff;
}

#screen-schedule-list .table {
    border-collapse: separate;
    border-spacing: 0;
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
}

#screen-schedule-list .table th,
#screen-schedule-list .table td {
    padding: 15px;
    vertical-align: middle;
    border-top: 1px solid #dee2e6;
    border-bottom: 1px solid #dee2e6;
}

#screen-schedule-list .table th {
    background-color: #156183;
    color: #fff;
    font-weight: bold;
    text-align: center;
}

#screen-schedule-list .table tbody tr:nth-of-type(odd) {
    background-color: rgba(21, 97, 131, 0.05);
}

#screen-schedule-list .table tbody tr:hover {
    background-color: rgba(21, 97, 131, 0.1);
}



/* scheduling.php */
#screen-scheduling .container {
    margin-top: 50px;
    padding: 20px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

#screen-scheduling h2 {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 30px;
    color: #156183;
    text-transform: uppercase;
}

#screen-scheduling .input-group {
    margin-bottom: 20px;
}

#screen-scheduling .input-group-text {
    background-color: #156183;
    border-color: #156183;
    color: #fff;
}

#screen-scheduling .btn-primary {
    background-color: #156183;
    border-color: #156183;
}

#screen-scheduling .btn-primary:hover {
    background-color: #0f4d64;
    border-color: #0f4d64;
}

#screen-scheduling .table {
    border-collapse: separate;
    border-spacing: 0;
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
}

#screen-scheduling .table th,
#screen-scheduling .table td {
    padding: 15px;
    vertical-align: middle;
    border-top: 1px solid #dee2e6;
    border-bottom: 1px solid #dee2e6;
}

#screen-scheduling .table th {
    background-color: #156183;
    color: #fff;
    font-weight: bold;
    text-align: center;
}

#screen-scheduling .table tbody tr:nth-of-type(odd) {
    background-color: rgba(21, 97, 131, 0.05);
}

#screen-scheduling .table tbody tr:hover {
    background-color: rgba(21, 97, 131, 0.1);
}

/* Estilo para o modal */
#screen-scheduling .modal-content {
    color: #000;
    /* Alterado para preto */
    background-color: #fff;
    /* Alterado para branco */
}
